<div class="user rounded-pill text-muted mb-3 d-flex justify-content-center align-items-center">
  <% if user_signed_in? %>
    <a href="/profile">
    <img src="<%= getUser().avatar_url %>" alt="" />
    </a>
  <% else %>
    <a class="login text-center rounded-pill" href="/users/auth/github">请登录</a>
  <% end %>
</div>
<% if user_signed_in? %>
<div class="actions text-center">
  <a href="/profile/star" class="badge badge-secondary cursor">
    Star
  </a>
</div>
<% end %>