@import 'bootstrap/css/bootstrap.min';
@import 'fontawesome-free-5.9.0-web/css/all';

@import 'home';

$bg: #efefef;

ul {
  list-style: none;
  margin: 0;
}
.user {
  width: 60px;
  height: 60px;
  margin: auto;
  font-size: 12px;
  background-color: $bg;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .login {
    display: inline-block;
    width: 60px;
    line-height: 60px;
  }
}
.actions {
  .badge {
    cursor: pointer;
    background-color: #c9c9c9;

    &:hover {
      background-color: #6c757d;
    }
  }
}
.repo-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
}
.title {
  font-size: 18px;
}
.description {
  font-size: 14px;
}
.main-section {
  max-width: 500px;
  margin: auto;
  background-color: $bg;
  border-radius: 5px;
}


.repo {
  .head {
    background-color: #e2e2e2;
    padding: 7px 13px;
    margin-bottom: 10px;
    border-radius: 0;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    
    .language {
      position: absolute;
      right: 13px;
      top: 0;
      height: 100%;

      .form-control-sm {
        height: auto;
        font-size :14px;
        margin-top: 4px;
        padding: 2px 4px;
        background-color: #efefef;
      }
    }
  }
  .page {
    right: 13px;
    top: 0;
    .button {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .item {
    // padding: 5px;
    padding: 5px;
    padding-bottom: 10px;
    margin: 0 8px;
    transition: all .3s;
    
    li {
      padding: 5px;
      // margin: 0 8px;
      transition: all .3s;
      border-bottom: 1px solid #d8d8d8;

      .custome-description {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.56);

        .custome-description {
          visibility: visible;
          opacity: 1;
          height: auto;
          transition-delay: 0s;
        }
      }
      &:last-child {
        border-bottom: transparent;
      }
    }
    .repo-color {
      vertical-align: top;
    }
    .badge-light {
      font-size: 12px;
      background-color: #e2e2e2;
      color: #545454;
    }
    .description {
      padding: 2px 0 0 9px;
      font-size: 12px;
      color: #b9b9b9;
    }
  }
}
.button {
  color: #fff;
  cursor: pointer;
  background-color: #c9c9c9;
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
  }
}